/*
	GLOBAL STRUCTURE
	GENERAL LAYOUT	
	HEADER
	HOME PAGE
	GENERIC STYLES / PAGE ELEMENTS
	CONTENT
	CONTENT 404 PAGE
	NAVIGATION
	SIDE BAR
	ASSETS
	PORTFOLIO
	INLINE MESSAGE BOX
	FORMS
	BLOG
	THEME ROLLER
	NIVO & HORIZONTAL SLIDER
	FAQ & LARGE ACCORDION	
	SLIDING LOGIN PANEL
*/

/* ----------------------------------------------------
	GLOBAL STRUCTURE
------------------------------------------------------- */
/*html*/
html{
	height:100%;
}

/*body*/
body,textarea,input,select{
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	color:#32383f;
	line-height:18px;
	position:relative;
}

/*backgrounds*/
/*see default.css file*/

/* ----------------------------------------------------
	GENERAL LAYOUT
------------------------------------------------------- */
/*ajax loading bar*/
#loading_wrap {
	width: 32px;
	height: 100%;
	display:none;
	margin: 0 auto;
	position: relative;	
}

#loading_content {
	top: 50%;
	left: 50%;
	color:#fff;
	width: 32px;
	height: 32px;
	position: fixed;
	margin-top: -50px;
	margin-left: -16px;
} 

.center-clear,.center-clear-border-support{
	width:990px;
	margin:0 auto 0 auto !important;	
}

.center-clear-border-support{
	width:988px;
}

/*contains shine.png for pages but index.html*/
#body-wrapper{
	background:url(../images/background/flare.png) no-repeat center top;
	float:left;
	width:100%;
}

#page-header-wrapper{
	float:left;
	width:100%;
}

#page-content-wrapper{
	float:left;
	width:100%;	
}

.fill-content-w{
	width:100%;
}

/* ----------------------------------------------------
	HEADER
------------------------------------------------------- */
/*header container & header & logo*/
#header-contanier{
	width:100%;
	height:150px;
	background:url(../images/transparent_background.png) repeat-x bottom;
	margin-top:10px; /*set this value to 20px when you not need to use login panel*/
	float:left;
}

#header{
	height:150px;
}

#logo{
	background:url(../images/logo.png) no-repeat;
	width:315px;
	height:75px;
	float:left;
/*      margin-left: 140px; */
	display:block;
	border:0 !important;
	cursor:pointer;
}

.header-place-holder{
	width:100%;
	height:3px;
	float:left;
}

/*banner 468x60*/
#banner_468x60{
	width:468px;
	height:60px;
	float:left;
	display:block;
	border:0 !important;
}

/*social tabs*/
#social_tabs{
	float:right;
	width:100px;
      margin-top: -15px;
      margin-right: -15px;
	/*margin:0 10px 0 0;*/
}

#social_tabs li{
	list-style:none;
	list-style-position:outside;
	float:left;
	width:30px;
	height:27px;
	margin:0 0 0 2px;
	background:url(../images/transparent_background.png);
}

#social_tabs li:hover{
	background:#84b800 none;
}
#social_tabs li:first-child:hover{
      background:darkblue;
}
#social_tabs li:last-child:hover{
      background:lightblue;
}

#ftab {
      list-style:none;
	list-style-position:outside;
	width:30px;
	height:27px;
      margin-top: -15px;
      margin-right: 3px;
      background-color: darkblue;
}

#ttab {
      list-style:none;
	list-style-position:outside;
	width:30px;
	height:27px; 
      margin: -15px 3px;
      background-color: lightblue;
}

#ftab:hover {background:#84b800 none;}
#ttab:hover {background:#84b800 none;}

#likeButton {
      list-style:none;
	list-style-position:outside;
      background: red;
}

.fb-like {
      float:right;
      margin-right: -15px;
      margin-top: -10px;
}

.fb-like-side {
      margin-left: 10px;
}

.twitter-follow-button{
      float:right;
      margin-top: -10px;
      margin-right: 90px;
}

#btnSendComp {
      float: right;
      margin: -25px 300px 0 0;
}
#btnRedeemComp {
      float: right;
      margin: -25px 190px 0 0;
}



/* top menu*/
#top_menu{
	clear:left;
	display:block;
	height:40px;/*60px actual hight, pushed down by top elements*/
	float:left;
	border:0 !important;
	width:780px;
	margin:13px 0 0 0;/*38px*/
}

#top_menu>li{
	list-style:none;
	list-style-position:outside;
	float:left;
	display:block;
	padding:11px 20px 0 20px !important;
	background:url(../images/top_menu_li_bg.png) no-repeat center left;
	height:49px;/*60px*/
	/*margin-top:10px;*/
}

#top_menu>li:hover>a{
  /*  color:#e53400; */
      color:#84b800;
}

#top_menu>li:first-child{
	background:none;
}

#top_menu>li>a{
	font-family:'Terminal Dosis',Tahoma, Geneva, sans-serif;
	font-weight:normal;
	text-decoration:none;
	font-size:21px;
	color:#fff;
	display:block;
	float:left;
	line-height:21px;
}

#top_menu>li>a:first-child{
	border-left:none;
}

#top_menu li>span{
	clear:left;
	display:block;
	/*float:left;*/
	font-size:10px;
	line-height:16px;
	color:#9c9c9c;
      text-align: center;
}
/*footer*/
#footer_container{
	float:left;
	width:100%;	
	min-height:60px !important;
	background:url(../images/transparent_background.png);
}

/*copyright text*/
#footer>div{
	color:#fff !important;
	font-size:11px !important;
	display:inline-block;
	float:right;
	margin:20px 0 0 0px;
}

/*footer menu*/
#footer>ul{
	margin:20px 0px 0 0px;
	float:left;
}

#footer>ul .active{
      /* background-color:#F30; */
	background-color:#84b800;
	display:block;
	padding:0px 5px 0px 5px;
}
#footer>ul .active:hover {
      color: white;
      text-shadow: 0 1px 0 #32383f;
}

#footer>ul>li{	
	float:left;
	display:block;
	margin:0px 0 0 5px;
	padding:0px 5px 0px 10px;
	background:url(../images/footer_menu_li_bg.png) no-repeat center left;
}

#footer>ul>li:first-child{
	background-image:none;
	padding-left:0px;
	margin-left:0px;
}

#footer>ul>li>a{
	color:#FFF;
	line-height:20px;
	text-decoration:none;
}

#footer>ul>li>a:hover {
      color: #84b800;
      text-shadow: 0 1px 0 #32383f;
}

/*top search bar*/
#search_box{
	float:right;
	margin:13px 0 0 0;
	width:190px;
}
#search_box .txt_search{
	font-size:12px;
	color:#fff;
	width:130px;/*165px actual width*/
	line-height:35px;
	height:35px;
	padding:0 0 0 20px;
	border:none;
	background:url(../images/search_box.png) no-repeat 0px 0px;
	float:left;
}
#search_box .btn_search{
	width:36px;
	height:35px;
	border:none;
	float:left;
	cursor:pointer;		
	background:url(../images/search_box.png) no-repeat -165px 0px;
}
/* ----------------------------------------------------
	HOME PAGE
------------------------------------------------------- */
/* carousel */
#carousel_container{
	background:url(../images/transparent_background.png);
	width:970px;
	height:360px;
	padding:10px;
}

/* home page three box */
.box-three{
	float:left;	
	width:323px;
	max-height:360px !important;
	margin:0 0 0 10px;
	cursor:default;
}

.box-three a{
	color:#32383f;
	text-decoration:none;
}
.box-three a:hover{
	text-decoration:underline;
}

/*generic class. 80% opacity png, base color : black*/
.transparent-background{
	background:url(../images/transparent_background.png);		
}

.featured-box>div{
	margin:10px;/*1px 11px 11px 11px;*/
	background:#e3e3e3 url(../images/info_boxes_background.png) no-repeat bottom left;
	min-height:338px !important;
	width:303px;/* !important;*/
}

.featured-box-last{
	width:324px;
}

.featured-box-last>div{
	margin:10px !important;	
	width:304px !important;
}

.box-three>div>div{
	margin:0px 20px 20px 20px;
}

.box-three h3{
	font-family:'Terminal Dosis',Tahoma, Geneva, sans-serif;
	font-weight:normal;
	text-decoration:none;
	font-size:18px;
	line-height:44px;
	display:block;
	float:left;
	width:100%;
	border-bottom:1px dotted #444444;	
}

.featured-box h3{
	color:#192029;
}

.box-three span{
	font-size:11px;
	line-height:16px;
	display:block;
	padding:10px 0 0 0;
}

.box-three span>span{
	padding:0px !important;
	margin-bottom:10px;
}

.featured-box span{
	color:#444444;	
}

/* home page sub three box*/
.box-three-sub-wrapper{
	width:100%;
	min-height:240px !important;
}

.featured-box-sub{
	height:240px !important;/*ignore the box-three's pre-defined height here*/
}

.featured-box-sub h3{
	color:#fff;
}

.featured-box-sub>div{
	margin:10px;
	width:300px !important;	
}

.featured-box-sub span{
	color:#fff;
}

/*home page sub three box -> most vieved part*/
.featured-box-sub ul{
	display:block;
	padding:10px 0 0 0;
}
.featured-box-sub li{
	float:left;
	width:100%;
	margin:0 0 10px 0;
}
.featured-box-sub li>img{
	border:5px solid #fff !important;
	float:left;
	margin-right:10px !important;
}
.featured-box-sub li>span{
	padding:0px;
}
.featured-box-sub li>span>a{
	border:none !important;
	color:#fff;
	text-decoration:none;	
}

/*sliding image*/
.home-three-box-sliding-image{
	width:100%;
	height:180px;
	margin:0px !important;
	background-position:0px 0px;
}
.img-one{
	background:url(../images/temp/home_info1.jpg) no-repeat;
      cursor:pointer;
}
.img-two{
	background:url(../images/temp/home_info2.jpg) no-repeat;
      cursor:pointer;
}
.img-three{
	background:url(../images/temp/home_info3.jpg) no-repeat;
      cursor:pointer;
}

/* ----------------------------------------------------
	GENERIC STYLES / PAGE ELEMENTS
------------------------------------------------------- */
#top_link{
	display:none;
	position:fixed;
	width:30px;
	height:30px;
	right:15px;
	bottom:15px;
}

/*text styles*/
.times-gray-italic-13{
	font-family:"Times New Roman", Times, serif;
	font-size:13px !important;
	text-decoration:none;
	font-style:italic !important;
	line-height:16px;
	color:#a7a7a7 !important;
}

.times{
	font-family:"Times New Roman", Times, serif;	
}

.arial{
	font-family:Arial, Helvetica, sans-serif;
}

.tahoma{
	font-family:Tahoma, Geneva, sans-serif;
}

.tahoma-gray-11{
	color:#32383f;
	font-size:11px;
}

.tahoma-red-bold-11{
	color:#84b800;
	font-size:11px;
	font-weight:bold;
	text-decoration:none;
}

.white-only{
	color:#fff !important;
}

.orange-only{
	color:#84b800 !important;
}

.gray-only{
	color:#32383f;	
}

.not-active{
	color:#9c9c9c;
}

a.gray-only:hover{
	color:#84b800;	
}


.bold_only{
	font-weight:bold !important;
}

.italic_only{
	font-style:italic;
}

.dotted-underline{
	border-bottom:1px dotted #32383f;
}

.text14{
	font-size:14px;
}

.text15{
	font-size:15px;
}

.text16{
	font-size:16px;
}

.text30{
	font-size:30px;
}

.text-left{
	text-align:left;
}
.text-center{
	text-align:center;
}
.text-right{
	text-align:right;
}

/*rounded objects by value 5, no ie supports here yet*/
.rounded-corners {
  border-radius: 5px; /* CSS3 */
}

.rounded-top-corners {
  border-top-left-radius: 3px; /* CSS3 */
  border-top-right-radius: 3px; /* CSS3 */  
}

.rounded-three-corners {
  border-radius: 3px; /* CSS3 */
  border-top-left-radius: 0px; /* CSS3 */
}

.gray-frame{
	border:1px solid #e1e1e1;
}

.gray-bottom{
	border-bottom:1px solid #d1d1d1;
}

.gray-link-button{
	float:left;
	color:#fff;
	line-height:21px; /*this works well on ff but chrome issue only 1px*/
	text-decoration:none;	
	padding:0px 20px 0px 10px;
	background:#32383f url(../images/icon/warrow.png) no-repeat right center;
}

.img-margin-right{
	margin:0px 10px 10px 0px;
}

.img-margin-right-w{
	margin:0px 20px 20px 0px;
}

.img-margin-left{
	margin:10px 0px 0px 10px;
}

.img-margin{
	margin:10px;
}

.super-quote{
	font-size:24px;
	line-height:28px;
	margin-bottom:16px !important;
}

.inline-image{
	margin:16px 0 22px 0;
}

/*content blockquote. looking too fat for now*/
blockquote{
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	font-style:italic;
	line-height:22px;
	border-left:1px solid #d1d1d1;
	padding:0 0 0 20px;
	width:600px !important;
	margin-bottom:30px;
}

.testimonial{
	background:url(../images/assets/quot.png) no-repeat;
	padding:0 0 0 110px;
	width:520px !important;
	font-size:14px;
	line-height:18px;
}

.news-block h3{
	margin:3px 0 20px 0;
}

.service-box h3{
	margin:3px 0 8px 0;
}

.service-box>.gray-link-button{
	margin-bottom:20px;
}

/*content horizontal line*/
.hr,.hr-two,.hr-three{
	border-bottom:1px solid #d1d1d1;
	padding-top:16px;
	margin-bottom:19px;
	clear:both;
}

.hr-two{
	padding-top:6px !important;
	margin-bottom:9px !important;
}

.hr-three{
	padding-top:6px !important;
}


/*hr with top link*/
div.hr-top .long{
	border-bottom:1px solid #d1d1d1;
	margin-top:9px;
	width:905px;
}

div.hr-top a{
	background:url(../images/icon/totop.png) no-repeat right center;
	padding-right:20px;
	font-size:9px;
}

/*label*/
.orange-label{
	line-height:40px !important;
	padding:0 25px 0 25px;
	background-color:#84b800;
}


.width-310,.width-310 p{
	max-width:310px !important;
}

ul.tag-list li{
	background:url(../images/blog/infoicons.png) no-repeat 0px -24px;
	padding-left:24px;
	float:left;
	display:block;	
}

/* ----------------------------------------------------
	CONTENT
------------------------------------------------------- */
/* content layout general*/
#container{
	width:990px;
	margin:0 auto 0 auto;
	position:relative;
	display: block;
	padding:0;
	border:0 !important; 
}

/*page wrapper*/

.page-content p{
	max-width:630px;/* !important;*/
	margin-bottom:10px;/*you can disable this line as you wish. good looking in demo*/
	height:auto !important;
	overflow:visible !important;
}

.page-content-wrapper .page-content{
	float:left;
	min-height:600px;
	min-width:630px;
	padding:15px 19px 15px 19px;
	border-top:none;	
	background:#fff url(../images/background/arrow_down.png) no-repeat;	
}

.full-content-width{
	width:950px !important;
}

/*heading*/
.heading,.heading-with-left-margin{
	font-family:'Terminal Dosis',Tahoma, Geneva, sans-serif;
	text-decoration:none;
	color:#32383f;
	max-width:948px !important;
	line-height:normal;
}

.heading-with-left-margin{
	clear:both !important;
	display:block !important;
	margin:34px 0 5px 20px !important;
	float:left;
	width:288px;
}

.h1{
	font-size:21px;
	font-weight:600 !important;	
	margin-bottom:17px;
}

.h2{
	font-weight:600 !important;	
	font-size:19px;
	margin:15px 0 19px 0;
	position:relative;
}

.h3{	
	font-weight:600 !important;	
	font-size:15px;
}

.h4{
	font-weight:600 !important;	
	font-size:14px;
}

.h5{
	font-weight:600 !important;	
	font-size:12px;
}

h6{
	font-weight:bold;
	font-size:11px;
	margin:0 0 5px 0;
	display:inline-block;
	position:relative;
}


/*in page list menu with arrow image*/
.page-list-menu{
	width:170px;
	float:left;
	margin:0 20px 0 0;
}

.page-list-menu li{
	display:block;
	background:url(../images/icon/breadcrumb.png) no-repeat 0px -23px;
	padding:0 5px 0 15px;
	border-bottom:1px solid #e3e7eb;
	line-height:20px;	
}

.clean-li>li{
	border-bottom:none !important;
}

.page-list-menu li>a{
	color:#32383f;
	font-size:11px;
	text-decoration:none;
}

.page-list-menu li:hover{
	color:#84b800;
	border-style:dotted;
}

/*page title*/
.page-title{
	min-height:72px;/*92px actual min-height*/
	padding:20px 0 0 20px;
	width:970px !important;
}

.page-title .h1{
	text-transform:uppercase;
	font-weight:bold;
	font-size:26px;
	color:#fff;	
}

.page-title .h4{
	font-weight:normal;
	font-size:16px;
	color:#fff;	
}

.breakout-grid{
	width:200px !important;
	min-height:100px !important;
	margin:11px 0 0 15px;
	overflow:visible !important;
}

.breakout-grid.first{
	margin-left:0px !important;
}

.breakout-grid p{
	width:auto !important;
}

.breakout-grid img{
	margin-bottom:10px;
}

/*list with red plus*/
ul.list-with-plus{
}

ul.list-with-plus li{
	background:url(../images/icon/rplus.png) no-repeat center left;
	padding:0 0 0 12px;
}

/*contact lists*/
ul.list-info{
}

ul.list-info .email_address{
	background:url(../images/icon/contact_list.png) no-repeat 0px 7px;
	padding-left:18px;
}

ul.list-info .phone_number{
	background:url(../images/icon/contact_list.png) no-repeat 0px -10px;
	padding-left:18px;
}

ul.list-info .triangle{
	background:url(../images/icon/contact_list.png) no-repeat 0px -25px;
	padding-left:18px;
}

/* ----------------------------------------------------
	CONTENT 404 PAGE
------------------------------------------------------- */

.page-404-wrapper{
	background:url(../images/splitter_vertical.png) no-repeat center top;
}

.page-404-wrapper .left_part{
	float:left;
	width:474px;
}

.page-404-wrapper .right_part{
	float:left;
	width:434px;
	margin:20px 0 0 30px;
}

/* ----------------------------------------------------
	NAVIGATION
------------------------------------------------------- */
/*head styling for side bar and breadcrumb*/
.page-columns-head-style{
	height:64px;
	border-bottom:none;
	background:#fff url(../images/background/green_border.png) repeat-x bottom;
}

.page-column1,.page-column2{
	width:308px;
	/*margin:0 7px 0 0;*/
	float:left !important;
}
.page-column2{
	width:668px;
	margin:0;
}

.page-column1 .h1{
	margin:20px 0 0 20px;
}


/*breadcrumb*/
#breadcrumb ul{
	padding:25px 0 0 20px;
}

#breadcrumb ul>li{
	display:block;
	float:left;
	background:url(../images/icon/breadcrumb.png) no-repeat 0px -23px;
	padding:0 5px 0 15px;
}

#breadcrumb ul>li:first-child{
	background:url(../images/icon/breadcrumb.png) no-repeat 0px 5px;	
}

#breadcrumb ul>li>a{
	color:#32383f;
	font-size:11px;
	text-decoration:none;
}

#breadcrumb ul>li .active{
	color:#84b800;
	border-bottom:1px dotted #32383f;
}

/*left navigation*/
.accordion li{
	background:url(../images/assets/navigation290.png) no-repeat 0px -28px;
}

.accordion li,.accordion li a{
	width:268px;
	line-height:28px;
	display:block;
}

.accordion li a{
	margin-left:8px;	
}

.accordion .active,.accordion li:hover{
	background-position:0px 0px;
}

.accordion .active a,.accordion li a:hover{
	color:#fff;
}

/*paging*/
div.paging-wrapper{
	position:relative;
}
div.paging-wrapper.blog{
	width:648px;
	height:30px;
	padding:10px;
	background-color:#fff;
}
div.paging-wrapper>*,div.paging-wrapper>a span{
	width:30px;
	line-height:30px;/*according the button image height*/
	margin-right:10px;
	text-align:center;

	/*adding the definitions below here seems better than adding several generic class to the object*/
	float:left;
	color:#6b6b6b;
	font-size:12px;	
	display:block;	
	font-weight:bold;
	text-decoration:none;
}

div.paging-wrapper a{
	background:url(../images/assets/paging.png) no-repeat 0px 0px;	
}

div.paging-wrapper a.selected{
	background:url(../images/assets/paging.png) no-repeat 0px -30px;
	color:#fff !important;
}

div.paging-wrapper a .next{
	background:url(../images/assets/nextback.png) no-repeat 0px 0px;	
}

div.paging-wrapper a .prev{
	background:url(../images/assets/nextback.png) no-repeat 0px -30px;	
}


/* ----------------------------------------------------
	SIDE BAR
------------------------------------------------------- */
/*side search bar*/
.page-content-wrapper .side_bar{
	min-height:600px; /*temporary*/
	border-top:none;
	background:#fff;
		
	padding-bottom:30px;/*this line should fix two column same height issue that caused by page-content paddings*/
}

.page-content-wrapper .side_bar>*{
	margin:10px 10px 0 10px;
}

.in-page-search-box{
	float:right;
	margin:0 30px 0 0;
	width:310px;
}
.in-page-search-box .txt_search{
	font-size:12px;
	color:#32383f;
	width:250px;/*270px actual width*/
	line-height:35px;
	height:35px;
	padding:0 0 0 20px;
	border:none;
	background:url(../images/search_box_page.png) no-repeat 0px 0px;
	float:left;
}
.in-page-search-box .btn_search{
	width:40px;
	height:35px;
	border:none;
	float:left;
	cursor:pointer;
	background:url(../images/search_box_page.png) no-repeat -270px 0px;
}

/*download button*/
.side-download-button{
	float:left;
	width:288px;
	height:90px;
	background:url(../images/assets/side_bar_download_button.png) no-repeat;
}
.side-download-button img{
	margin:33px 0 0 42px;
}

.side-download-button span{
	width:170px;
	line-height:90px;
	margin:0 0 0 30px;
}

/*simple tabs*/
ul.tabs {
    width:288px;
	height:28px;
	border-bottom:1px solid #ddd;
}

ul.tabs li {
    float:left;
    display:block;
	margin:0 2px 0 0;
}

ul.tabs li a {
    float:left;
    display:block;
    color:#32383f;
    font-size:11px;
    text-decoration:none;
    padding:5px 10px 5px 10px;
	border:1px solid #cacaca;
	border-bottom:none !important;
	background:url(../images/assets/simple_tab.png) repeat-x 0px -29px;
}

.selected-tab {
	border-bottom:none !important;
	background:url(../images/assets/simple_tab.png) repeat-x 0px 0px !important;	
}

.tab-content {
	margin-top:0px !important;
	clear:both;
    padding:10px;
    border:1px solid #ddd;
	background-color:#fff;
	border-top:none;
}

/*125x125 box area*/
.box-125{
	width:136px;
	height:123px;
	text-align:center;
	margin-bottom:13px;
}

.box-125.first{
	margin-left:9px;
}

/*email subscription box*/
form.form-subscribe{
	width:288px;
}

form.form-subscribe .txt_email{
	font-size:11px;
	color:#32383f;
	width:178px;/*200px actual width*/
	line-height:36px;
	height:36px;
	padding:0 0 0 20px;
	border:none;
	background:url(../images/subscribe_box.png) no-repeat 0px 0px;
	float:left;
}
form.form-subscribe .btn_submit{
	width:90px;
	height:36px;
	border:none;
	float:left;
	background:url(../images/subscribe_box.png) no-repeat -200px 0px;
}

div.rss-box{
	background:url(../images/icon/rss.png) no-repeat top left;
	padding:0 0 0 34px;
	line-height:27px;
}

/*splitter*/
div.splitter-h{
	background:url(../images/splitter_horizontal.png) no-repeat;
	width:288px;
	height:5px;
	margin:29px 0 28px 10px !important;
}

/* ----------------------------------------------------
	ASSETS
------------------------------------------------------- */
/*read more button*/
a.button{
	color:#fff;
	height:24px;
	line-height:22px;
	text-align:center;
	text-decoration:none;
      text-shadow: 1px 1px .5px #32383f;
	padding:0 10px 0 10px;	
	background:url(../images/assets/button.png) no-repeat 0px 0px;
}

a.button:hover{
	background-position:0px -24px;
}

a.appstoreButton{
      float:right;
      width: 136px;
      height: 50px;
      margin-top: -36px;
      margin-right: 30px;
      background:url(../images/assets/appstore-green.png) no-repeat 0 0;

}

a.appstoreButton:hover{
      background-position: 0 -50px;
}

#appstoreButtonSidebar {
      margin-left: 28px;
}

/* ----------------------------------------------------
	PORTFOLIO
------------------------------------------------------- */
/*project details*/
.project-details p{
	max-width:700px !important;
}

.project-details .left_part{
	width:230px;
}

.project-details .right_part{
	width:700px;
}

.related-projects-slider{
	max-width:222px;
	min-height:200px;
	overflow:hidden;
	position: relative;
}

.related-projects-slider>.sliding-div{
	position:relative;
	width:1660px;
	float:left;
	overflow:auto;
}

.related-projects-slider>.sliding-div h3{
	clear:both;
	padding:10px 0px 10px 0px;
}


.related-projects-slider>.sliding-div-navigation{
	width:40px;
}

.related-projects-slider>.sliding-div div {
	float:left;
	width:222px;
}

.portfolio-1-column,.portfolio-1-column-portrait{
	margin-right:5px;
}

.portfolio-1-column p{
	max-width:240px !important; /*245px good but some times text getting too closer to image*/
}

.portfolio-1-column-portrait p{
	max-width:320px !important; /*325px good but some times text getting too closer to image*/
}

.portfolio-2-column-gallery{
	max-width:466px;	
}

.portfolio-3-column-gallery{
	max-width:303px;	
}

.portfolio-4-column-gallery{
	max-width:220px;	
}

.portfolio-4-column-gallery h3,.portfolio-3-column-gallery h3,.portfolio-2-column-gallery h3{
	margin:12px 0 8px 0;
}


.portfolio-1-column h3,.portfolio-1-column-portrait h3{
	margin:0 0 8px 0;
}

div.portfolio-folder-icon{
	background:url(../images/icon/folder.png) no-repeat top left;
	padding-left:18px;
	margin-left:7px;
	line-height:21px;
}

/*choose a gallery style menu*/
ul.gallery-style-menu{

}

ul.gallery-style-menu li{
	padding:0 22px 0 22px;
	border-left:1px solid #fff;
	line-height:22px !important;
}

ul.gallery-style-menu .selected,ul.gallery-style-menu li:hover{
	background-color:#000;
}


ul.gallery-style-menu li:first-child{
	border:none;
}

ul.gallery-style-menu li a{
	font-size:12px;
}

/*sort by menu*/
ul.sort-by-menu{
	line-height:normal;
}
ul.sort-by-menu li{
	margin-left:16px;
}
ul.sort-by-menu li:first-child{
	margin-left:0px;
}
ul.sort-by-menu a{
	font-size:16px;
}

ul.sort-by-menu li.first{
	color:#767676;
	font-size:16px;
	padding-left:30px;
	background:url(../images/icon/screen.png) no-repeat left center;
}

ul.sort-by-menu a:hover,ul.sort-by-menu a.selected{
	font-size:16px;
	color:#000;
	border-bottom:1px dotted #000;
}

/*gallery overlay image*/
.gallerypic{
	width:auto;
	position:relative;
	float:left;
}

.gallerypic span.zoom-icon{
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	cursor:pointer;
	position:absolute;
	visibility:hidden;
	background:url(../images/transparent_background.png);
}

.gallerypic span.zoom-icon img{
	position:relative !important;
	margin-left:auto;
	margin-right:auto;
	display:block;
}

.gallerypic:hover span.zoom-icon{
  visibility:visible;
}

/* ----------------------------------------------------
	INLINE MESSAGE BOX
------------------------------------------------------- */
/*main style*/
div.message-box{
	min-height:48px !important;
	width:628px;
	float:left;
	display:block;
}
div.message-box .line{
	padding-left:40px;
	height:30px;
	line-height:28px;	
	margin:10px;
	float:left;
}
div.message-box .close{
	width:9px;
	height:9px;
	float:right;
	cursor:pointer;
	background:url(../images/assets/x.png) no-repeat;
}
div.message-box span:first-child{
	font-weight:bold;
	font-size:14px;
	margin-right:10px;
}
/*success*/
div.success{
	border:1px solid #98c700;
	background:#f0febe;	
}
div.success .line{
	background:url(../images/assets/signs.png) no-repeat 0px 0px;
}
/*error*/
div.error{
	border:1px solid #eb5439;
	background:#fccac1;	
}
div.error .line{
	background:url(../images/assets/signs.png) no-repeat 0px -30px;
}
/*warning*/
div.warning{
	border:1px solid #fab418;
	background:#ffe9ad;	
}
div.warning .line{
	background:url(../images/assets/signs.png) no-repeat 0px -60px;
}
/*information*/
div.information{
	border:1px solid #4d8fcb;
	background:#d1e4f3;	
}
div.information .line{
	background:url(../images/assets/signs.png) no-repeat 0px -90px;
}


/* ----------------------------------------------------
	FORMS
------------------------------------------------------- */
form.generic-form{
	
}

form.generic-form label{
	line-height:34px;
	margin-left:10px;
}

form.generic-form input[type=text],form.generic-form input[type=password]{
	border:1px solid #cdcdcd;
	height:34px;
	line-height:34px;
	padding:0px 30px 0px 30px;
	color:#32383f;
}

form.generic-form textarea,form.generic-form select{
	border:1px solid #cdcdcd;
	background-color:#eeeeee;
	padding:10px;
}

form.generic-form .user{
	background:#eeeeee url(../images/icon/form_elements.png) no-repeat 0px 0px;
}

form.generic-form .password{
	background:#eeeeee url(../images/icon/form_elements.png) no-repeat 0px -90px;
}

form.generic-form .email{
	background:#eeeeee url(../images/icon/form_elements.png) no-repeat 0px -30px;
}

form.generic-form .web{
	background:#eeeeee url(../images/icon/form_elements.png) no-repeat 0px -60px;
}

form.generic-form .small{
	width:100px;
}

form.generic-form .medium{
	width:200px;
}

form.generic-form .medium-login{
	width:168px;
}

form.generic-form .large{
	width:300px;
}

form.generic-form .xlarge{
	width:400px;
}

form.generic-form .xxlarge{
	width:500px;
}

/* ----------------------------------------------------
	BLOG
------------------------------------------------------- */

.blog-content{
	background-color:transparent !important;
	border:none;
}

div.post-box{
	width:648px;
	border:1px solid #e1e1e1;
	/*min-height:100px !important;*/
	padding:20px 10px 10px 10px;
	background-color:#fff;
	overflow:auto;
}

div.post-box:hover{
	width:648px;
	border-width:3px;

	padding:18px 8px 8px 8px;	
}

/*post date*/
div.date-box,div.date-box div>div{
	width:56px;
	height:65px;
	background:url(../images/blog/datebox.png) no-repeat 0px 0px;
}

div.date-box div{
	position:relative;	
}
div.date-box div>div{
	top:0px;
	left:0px;
	z-index:1;
	background-position:0px -65px;
	position:absolute !important;
	display:none;
}

div.date-box div span{
	float:left;
	width:100%;
	text-align:center;
	position:relative;
	z-index:2;
	font-family:'Terminal Dosis',Tahoma, Geneva, sans-serif;
	text-decoration:none;	
	color:#fff;
}

div.date-box .line1{
	font-size:30px;
	font-weight:bold;
	margin-top:7px;
}

div.date-box .line2{
	font-size:12px;
	line-height:9px;
	margin-top:14px;
}

div.date-box .line3{
	font-size:9px;
	margin-top:1px;
	line-height:11px;
}

/*post content*/
.post-title{
	display:block;
	margin-top:-6px;
	margin-bottom:7px;
	line-height:34px !important;	
	font-size:30px;
	width:570px;/*IE7 fix*/
}

.post-content{
	max-width:570px !important;	
}

.post-content p{
	display:inline-block;
}

.post-content ul>li{
	background:url(../images/blog/bullet.png) no-repeat bottom left;
	padding-left:12px;
}

/*audio part specific styles*/
.post-content .audio .line1{
	font-weight:bold;
	font-size:16px;
}

.post-content .audio .line2{
	font-size:14px;
	line-height:24px;
	font-style:italic !important;
}

.post-content .audio .line3{
	font-size:14px;
	line-height:30px;	
	font-weight:bold;
}

/*assets*/
div.info-bar{
	background-color:#ededed;
	padding:0px 4px 0px 4px;
	width:640px;
	height:24px;
}

div.info-bar>span{
	padding-left:24px;
	margin-right:10px;
	display:inline-block;
	float:left;
	margin-top:2px;
}

div.info-bar .posted-by{
	background:url(../images/blog/infoicons.png) no-repeat 0px 0px;
}

div.info-bar .tags{
	background:url(../images/blog/infoicons.png) no-repeat 0px -24px;
}

div.info-bar .comments{
	background:url(../images/blog/infoicons.png) no-repeat 0px -48px;
}

div.info-bar .social{
	float:right !important;
	margin-right:0px !important;
	margin-top:4px;
}

div.info-bar .social a{
	float:left;
	display:inline-block;
}

div.info-bar .last{
	margin-right:3px;
}

/*side bar*/
.double-column-ul{
	float:left;
	display:block;
	margin-right:0px !important;
	width:139px !important;
}

.double-column-ul li{
	background:url(../images/assets/navigation140.png) no-repeat 0px -28px;
	padding:0px !important;
}

.double-column-ul li,.double-column-ul li a{
	width:139px;
	line-height:28px;
	display:block;
}
.double-column-ul li a{
	margin-left:22px;	
}
.double-column-ul .active,.double-column-ul li:hover{
	background-position:0px 0px;
}

.double-column-ul .active a,.double-column-ul li a:hover{
	color:#fff;
}

/*tab post list*/
ul.tab-posts li{
	clear:both;
	border-top:1px solid #e1e1e1;
	margin-top:16px;
	padding-top:10px;	
}

ul.tab-posts li:first-child{
	border-top:none !important;
	margin-top:0px !important;	
	padding-top:0px !important;
}

ul.tab-posts li>img,.flickr-images img{
	border:1px solid #a9a9a9;
	vertical-align:text-top;
	background-color:#FFF;
	margin-right:8px;
	padding:3px;
	float:left;
}

.flickr-images{
	min-height:146px;
}
.flickr-images img{
	float:none !important;
}

ul.tab-posts li>p>span{
	color:#a4a4a4;
}

.blog-side-tags{
	width:auto;
	min-height:45px;
}

.blog-side-tags>a{
	display:block;
	float:left;
	border:1px solid #dedede;	
	margin:0 5px 5px 0;
	padding:0 5px 0 5px;	
	color:#32383f;
	text-decoration:none;
}

.blog-side-tags>a:hover{
	text-decoration:underline;
}

/*post details*/
.author-box{
	height:128px;
	background:url(../images/blog/authorboxbg.png) repeat-x;
}
.author-box>div{
	margin:19px;
}

/*popular & related posts*/
.post-sub-links{
	height:34px;
	background:url(../images/blog/otherpostsbg.png) repeat-x;
}

.post-sub-links a:first-child{
	border-left:none !important;
}

.post-sub-links a{
	display:block;
	float:left;
	border-left:1px solid #fff;
	border-right:1px solid #c5c5c5;	
	padding:0px 19px 0px 19px;
	line-height:34px;
}

.other-posts-list{
	padding:20px;
}

.other-posts-list li{
	line-height:24px;
}

/*comments & trackbacks*/
.post-comments>.comment{
	padding:10px 20px 10px 20px;	
}
.post-comments div>.comment{
	margin-left:20px;
	padding:10px 20px 10px 20px;	
}
.post-comments .comment{
	background-color:#efefef;
}
.post-comments div>.comment{
	background-color:#fff;
}

/* ----------------------------------------------------
	THEME ROLLER
------------------------------------------------------- */
.theme-roller{
	float:left;
	display:block;
	width:64px;
	height:64px;
	margin:0 10px 10px 0;
	line-height:64px;
	text-align:center;
}

/* ----------------------------------------------------
	NIVO & HORIZONTAL SLIDER
------------------------------------------------------- */
/*only used in project details page yet*/
.slider-arrows{
	display:block;
	float:left;
	width:19px;
	height:19px;
	background:url(../images/assets/slider_arrows.png) no-repeat;
	text-indent:-9999px;
}

.slider-previous{
	background-position:-19px -19px !important;
	margin-right:2px;
}	

.slider-previous:hover{
	background-position:0px 0px !important;
}

.slider-next{
	background-position:-19px 0px !important;
}	

.slider-next:hover{
	background-position:0px -19px  !important;
}

/* ----------------------------------------------------
	FAQ & LARGE ACCORDION
------------------------------------------------------- */
ul.accordion-large{
	width:600px;
}

ul.accordion-large li{
	min-height:20px;
	background:url(../images/assets/green-bar.png) no-repeat -670px 0px;
	width:630px;
	margin-bottom:10px;
	display:block;
	float:left;
}

ul.accordion-large>li>a{
	display:block;
	float:left;
	clear:both;
	line-height:19px;
	height:20px;
	padding-left:25px;
	width:600px;
	background:url(../images/assets/plus_minus.png) no-repeat 0px -40px;
}

ul.accordion-large li div{
	float:left;
	display:none;
	margin:10px 0 0 0;
}

li p a.greenlink {
      color: #84b800;
}

a.greenlink:hover{
      color: darkgreen;
}

/* ----------------------------------------------------
	SLIDING LOGIN PANEL
------------------------------------------------------- */
#login_panel{
    position:absolute;
    top: 0px;
	left:0px;
    width: 100%;
    z-index: 99999;
}

#login_panel #content{
    width: 100%;
	height:1px;
	background-color:#000;
	overflow:hidden;
	position:relative;
}
#login_panel #content>div{
    margin-left: auto;
    margin-right: auto;
	width:990px;
}

#login_panel #content .column{
	margin:20px 0 30px 0px;
	width:474px;
	float:left;
	color:#9c9c9c;
	height:155px;
	position:relative;
}

#login_panel #content .column1{
	padding-right:20px;
	width:475px;	
}

#login_panel #content .column1>p{
	margin-top:10px;
}

#login_panel #content .column1>p:first-child{
	margin-top:0px;
}

#login_panel #content .column2{
	padding-left:20px;
	border-left:1px solid #9c9c9c;	
}

#login_panel #content .column h3{
	margin-bottom:10px;
	color:#fff;
}

#login_panel #signin_register{
    margin-left: auto;
    margin-right: auto;
	width:990px;	
	height:28px !important;	
}

#login_panel #signin_register ul{
	float:right;
	display:block;
	margin-right:10px;
	background-color:#000;
	height:28px;
}

#login_panel #signin_register ul li{
	float:left;
	display:block;
	color:#9c9c9c;
	line-height:11px;
	padding:0 10px 0 10px;	
	margin:8px 0px 8px 0px;
	border-left:1px solid #9c9c9c;	
}

#login_panel #signin_register ul li:first-child{
	border-left:none;
      color: #84b800;
      font-size: 18px;
}

#login_panel #signin_register ul li a{
	width:10px;
	height:12px;
	display:block;
	background:url(../images/assets/plus_minus_white.png) no-repeat 0px -18px;
	text-indent:-9999px;	
}

/* ----------------------------------------------------
	HOME PAGE BACKGROUND CHANGER ***DEMO REQUIREMENTS***
------------------------------------------------------- */

#background_changer{
	width:402px;
	min-height:300px;
	position:fixed;
	top:30px;
	left:-174px;
/*	z-index:7000 !important;*/
}

#background_changer .backgrounds{
	width:174px;
	background-color:#fff;
}

#background_changer .open_close{
	width:48px;
	padding-top:0px;
}

#background_changer .arrow{
	display:block;
	text-indent:-9999px;
	width:48px;
	height:40px;
	background:url(../images/assets/bigarrow.png) no-repeat;
}

#background_changer #color_picker{
	width:149px;
	height:20px;
	border:2px inset #000;
	background-color:#32383f;
	cursor:pointer;
}

#background_changer ul{
	padding:10px;
	width:174px;
}

#background_changer #background_patterns>a{
	display:block;
	float:left;
	width:32px;
	height:32px;
}

#background_changer #background_patterns>a>img{
	border:1px solid #000;
}

#background_changer #background_images>a{
	display:block;
	float:left;
	margin-top:10px;
}

#background_changer ul>li{
	margin-bottom:10px;
	display:block;
	float:left;
}

#background_changer ul>li>a{
	display:block;
	float:left;
	clear:both;
	line-height:10px;
	color:#000;
	text-decoration:none;
	padding-left:15px;
	width:170px;
	background:url(../images/assets/plus_minus_white.png) no-repeat 0px -19px;
}

#background_changer ul>li>a:hover{
	color:#06F;
}

#background_changer ul>li>div{
	float:left;
	display:none;
	margin:10px 0 0 0;
}