

table.jCalendar {
	border: 1px solid #c5c5c5;
/*	background: #aaa;*/
    border-collapse: separate;
    border-spacing: 1px;
	width:288px;
}
table.jCalendar th {
	color: #514d4a;
	font-weight: bold;
	font-style:italic;
	padding: 3px 5px;
	background:#333 url(images/bg.png) repeat-x;	
}

table.jCalendar td {
	color: #26292c;
	padding: 8px 5px;
	text-align: center;
	background:#dbdbdb url(images/bg.png) repeat-x;
}
table.jCalendar td.other-month {
	background: #ddd;
	color: #aaa;
}
table.jCalendar td.today {
	color: #fff;
	background:#388be8 url(images/bgselected.png) repeat-x;	
}
table.jCalendar td.selected {
	color: #fff;
	background:#388be8 url(images/bgselected.png) repeat-x;	
}
table.jCalendar td.selected.dp-hover {
	color: #fff;
	background:#388be8 url(images/bgselected.png) repeat-x;	
}
table.jCalendar td.dp-hover,
table.jCalendar tr.activeWeekHover td {
	color: #fff;
	background:#388be8 url(images/bgselected.png) repeat-x;	
}
table.jCalendar tr.selectedWeek td {
	color: #fff;
	background:#388be8 url(images/bgselected.png) repeat-x;
}
table.jCalendar td.disabled, table.jCalendar td.disabled.dp-hover {
	background:#bbb url(images/bg.png) repeat-x;	
	color: #c1c3c5;
}
table.jCalendar td.unselectable,
table.jCalendar td.unselectable:hover,
table.jCalendar td.unselectable.dp-hover {
	background: #bbb;
	color: #26292c;
}

/* For the popup */

/* NOTE - you will probably want to style a.dp-choose-date - see how I did it in demo.css */

div.dp-popup {
	position: relative;
	/*background: #ccc;*/
	font-size: 12px;
	font-weight:bold;
	font-family:Tahoma, Geneva, sans-serif;
	/*padding: 2px;*/
	/*width: 171px;*/
	line-height: 1.2em;
	width:288px;
	
	display:block;
	float:left;
	clear:both;	
}
div#dp-popup {
	position: absolute;
	z-index: 199;
}
div.dp-popup h2 {
	font-size: 12px;
	text-align: center;
	margin: 2px 0;
	padding: 0;
	line-height:28px;
}
a#dp-close {
	font-size: 11px;
	padding: 4px 0;
	text-align: center;
	display: block;
}
a#dp-close:hover {
	text-decoration: underline;
}
div.dp-popup a {
	color: #26292c;
	text-decoration: none;
	padding: 3px 2px 0;
}
div.dp-popup div.dp-nav-prev {
	position: absolute;
	top: 0px;
	left: 4px;
	width: 100px;	
}
div.dp-popup div.dp-nav-prev a {
	float: left;
}
/* Opera needs the rules to be this specific otherwise it doesn't change the cursor back to pointer after you have disabled and re-enabled a link */
div.dp-popup div.dp-nav-prev a, div.dp-popup div.dp-nav-next a {
	cursor: pointer;
}
div.dp-popup div.dp-nav-prev a.disabled, div.dp-popup div.dp-nav-next a.disabled {
	cursor: default;
}
div.dp-popup div.dp-nav-next {
	position: absolute;
	top: 0px;
	right: 4px;
	width: 100px;
}
div.dp-popup div.dp-nav-next a {
	float: right;
}
div.dp-popup a.disabled {
	cursor: default;
	color: #aaa;
}
div.dp-popup td {
	cursor: pointer;
}
div.dp-popup td.disabled {
	cursor: default;
}

