.img-portfolio,.img-portfolio-video{
	display:block;
	float:left;
	width:inherit !important;
}

.socializeMeDiv {
	display:none;
	position:absolute;
	z-index:10000;
	background:url(images/transparent_background.png);
}   

.socializeMeControls {
	min-height:90px;
	margin-left:auto;
	margin-right:auto;
	text-align: center;
	width:190px;/*90+90+10*/
	z-index: 10001;	
}

.socializeMeControls div{
	float:left;
	margin-left:10px;
	width:90px;
	height:90px;
	color:#fff;
	font-size:11px;
	cursor:pointer;
	font-family:Tahoma, Geneva, sans-serif;
}

.socializeMeControls span{
	margin-top:70px;
	display:block;
}

.socializeMeControls div:first-child{
	margin-left:0px;
}

div.play{
	background:url(images/play.png) no-repeat center center;
}

div.enlarge{
	background:url(images/enlarge.png) no-repeat center center;
}

div.share{
	background:url(images/share.png) no-repeat center center;
}

div.shareBar{
	min-width:100px;
	padding:10px 0px 0 4px;
	height:20px;
	background-color:#fff;
	display:none;
	position:absolute !important;
	z-index:10002;
	background:url(images/sharebar.png) no-repeat center top;
}